html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-family: vazir !important;
    direction: rtl;
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.swiper-button-prev,
.swiper-button-next {
    color: #de0021 !important;
}

.disblock {
    display: block;
}
.disflex {
    display: flex;
}
.disnone {
    display: none;
}
